.nav-link {
  margin-right: 15px;
  color: #000000 !important;
  font-weight: 500;
}
.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  color: #003d80; /* Darker shade for hover effect */
}
